In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('used_car_data_new.csv')

In [4]:
import pandas as pd

# Assuming your dataset is in a DataFrame called df

# Create a function that returns the first showroom_location for each group
def get_first_location(group):
    first_location = group['showroom_location'].iloc[0]
    group['showroom_location'] = first_location
    return group

# Apply the function to each group of showroom_name and showroom_regency
new_df = df.groupby(['showroom_name', 'showroom_regency']).apply(get_first_location).reset_index(drop=True)

C:\Users\argya\AppData\Local\Temp\ipykernel_63716\3515408252.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  new_df = df.groupby(['showroom_name', 'showroom_regency']).apply(get_first_location).reset_index(drop=True)

In [5]:
new_df[['showroom_name', 'showroom_location', 'showroom_regency']].drop_duplicates().sort_values(by='showroom_name')

,showroom_name,showroom_location,showroom_regency
0,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat
2,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur
15,ASHENA MOBILINDO,"Jl. Pahlawan Revolusi No.2, Pd. Bambu, Kec. Du...",Jakarta Timur
20,BELLI AUTO CAR,"Pasar Mobil kemayoran Blok T no 8-9, RT.3/RW.6...",Jakarta Pusat
23,BEST MOBILINDO,"Jl. Industri Raya No.10, RW.10, Danau Sunter D...",Jakarta Utara
28,Baruna Motor,"Jl. RS. Fatmawati Raya No.79, RT.4/RW.4, Cilan...",Jakarta Selatan
29,DANS MOBILINDO,"Bursa WTC Mangga Dua, Jl. Mangga Dua Raya No.8...",Jakarta Utara
32,DHL AUTOCARS,"Bursa Mobil, Mall WTC Matahari, Pd. Jagung, Ke...",Banten
34,ESCO AUTO,"Jl. BB No. 01 A RT.3/RW.8 Cipinang Muara, Jati...",Jakarta Timur
42,FAMILY MOTOR 1,"Jl. I Gusti Ngurah Rai No.9, RT.12/RW.5, Cipin...",Jakarta Timur
45,FARREL MOTOR,Pondok kelapa 2 blok A 8 no.35 jakarta timur J...,Jakarta Timur
49,FAVOR AUTO,"bella terra, Klp. Gading Bar., Kec. Klp. Gadin...",Jakarta Utara
51,FORESTA MOTOR,"RT.001/RW.013, Panunggangan Bar., Kec. Cibodas...",Banten
55,GARAGE 88,"Jl.Radio 1 No.19, Kebayoran Baru, Jakarta Selatan",Jakarta Selatan
78,GARASI MOBILKU,"Jl. Gading Serpong Boulevard, Pakulonan Bar., ...",Banten
80,HANS MOTOR,"Ruko WR, Jl. Imam Bonjol Blok A No.11-12, RT.0...",Banten
85,JUARA MOBIL,Bursa Mobil Bekas Tems Grand ITC Permata Hijau...,Jakarta Selatan
86,KING AUTO CARS,"Jl. Pahlawan Revolusi No.6, RT.6/RW.12, Pd. Ba...",Jakarta Timur
89,MAJU JAYA MOTOR,"JL. Mangga Dua Raya, No. 8, RW.5, Ancol, Kec. ...",Jakarta Utara
98,Martak Auto Boutique,"Jl Pahlawan Revolusi no 39A, Pondok Bambu Jaka...",Jakarta Timur
100,Mirza Mobil,Jl. I Gusti Ngurah Rai Jl. Kp. Sumur Utara No....,Jakarta Timur
129,NOAH AUTO,"Bursa Mobil Sumarecon Blok G no 28, Curug Sang...",Banten
130,O2 Auto,"Bintaro, Banten",Banten
133,PT.SURYA DARMA PERKAS,"Jl. Raya Daan Mogot No.km 1 no 99, RT.6/RW.5, ...",Jakarta Barat
137,PT.SURYA DARMA PERKAS,"Jl. Pecenongan No.51, RT.9/RW.3, Kb. Klp., Kec...",Jakarta Pusat
138,RND AUTO,"Jl. Boulevard Raya Gading Serpong No.08, Curug...",Banten
139,SAUNG MOBIL,"Jl. Raya Serpong No.39, Pd. Jagung, Kec. Serpo...",Banten
146,SECOND CARS 15,"JL. Pahlawan Revolusi no 8, Duren SawitJakarta...",Jakarta Timur
147,SILOAM MOBILINDO,"WTC Mangga Dua, Jl. Gn. Sahari No.8, RT.1/RW.1...",Jakarta Pusat
156,SPECTRUM MOTOR,"Bursa otomotif, Jl. Sunter Kirana Raya, RT.10/...",Jakarta Utara
160,SUKSES MOBILINDO 2,"Sebelah PT Panasonic, Jl. Raya Bogor No.Km. 28...",Jakarta Timur
163,SURYA ABADI MOTOR,"Jl. Pahlawan Revolusi No.8, RT.6/RW.12, Pd. Ba...",Jakarta Timur
165,THOR MOTOR,"Jl. Marsekal Suryadarma No.52, RT.003/RW.008, ...",Banten
169,TIMUR JAYA MOBIL,"Jl. Angkasa No.Kav B6, RW.10, South Gunung Sah...",Jakarta Pusat
184,TOKO MOBILKU,"Jl. Meruya Selatan No. 43, , Meruya Selatan, K...",Jakarta Barat
193,TOKO MOBILKU,"Jl. Industri Raya No.10, RW.10, Danau Sunter D...",Jakarta Utara
194,UNITY MOBILINDO,"Jl. Imam Bonjol No.88B, Karawaci, Kec. Karawac...",Banten
198,YANSA AUTO,"Jl. Boulevard Raya Gading Serpong No.2, Curug ...",Banten
201,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara

In [6]:
# Create a new column 'showroom_group' to indicate the group number
new_df['showroom_group'] = pd.factorize(new_df[['showroom_name', 'showroom_location', 'showroom_regency']].apply(tuple, axis=1))[0] + 1

In [7]:
new_df

,id_ucd,id_merk,type,model,color,year,id_transmission,id_fuel_type,door,cylinder_size,...,showroom_name,showroom_location,showroom_regency,photo_1,photo_2,photo_3,link,created_at,updated_at,showroom_group
0,169,Suzuki,All New Baleno,MINIBUS,MERAH,2019,2,Gasoline,5,1372,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:06,4/16/2023 6:06,1
1,170,Toyota,FORTUNER 2.5,JEEP S.C.HDTP,HITAM METALIK,2015,2,Diesel,5,2494,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:15,4/16/2023 6:15,1
2,25,Range Rover,RANGE ROVER 4.2L V8 AT,JEEP S.C.HDTP,HITAM,2007,2,Gasoline,5,4187,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 7:29,4/11/2023 7:29,2
3,19,Jeep,GRAND CHEROKEE 5.7AT,JEEP L.C.HDTP,ABU ABU,2011,2,Gasoline,4,5654,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 5:54,4/11/2023 5:54,2
4,28,Jaguar,XF 3.0 V6 AT,SEDAN,HITAM METALIK,2011,2,Gasoline,5,2967,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 8:00,4/11/2023 8:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,133,Mitsubishi,Xpander Sport,SUV,ABU ABU METALIK,2019,2,Gasoline,5,1499,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:26,4/14/2023 0:26,39
206,132,Toyota,Alphard G,Minibus,HITAM,2017,2,Gasoline,5,2494,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:22,4/14/2023 0:22,39
207,103,Hyundai,Palisade Signature,SUV,HITAM,2021,2,Diesel,5,2199,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:01,4/13/2023 11:01,39
208,106,Hyundai,Tucson,SUV,PUTIH,2018,2,Diesel,5,1995,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:19,4/13/2023 11:19,39
209,130,Hyundai,H1 Royale,Minibus,ABU ABU METALIK,2016,2,Diesel,5,2497,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:05,4/14/2023 0:05,39

In [8]:
# Assuming your original dataset is stored in `df`

# Car-related columns
# car_columns = [
#     'id_ucd', 'id_merk', 'type', 'model', 'color', 'year', 'id_transmission', 
#     'id_fuel_type', 'door', 'cylinder_size', 'cylinder_total', 'turbo', 
#     'mileage', 'license_plate', 'price_cash', 'price_credit', 'nilai_jual_pkb', 
#     'pkb_pokok', 'stnk_date', 'levy_date', 'swdkllj', 'total_levy', 'showroom_group'
# ]

# Showroom-related columns
showroom_columns = [
    'showroom_name', 'showroom_location', 'showroom_regency', 'showroom_group'
]

car_showroom_columns = [
    'id_ucd', 'showroom_group'
]

# Split datasets
car_df = new_df.copy()
showroom_df = new_df[showroom_columns].drop_duplicates()
# car_showroom_df = new_df[car_showroom_columns]

In [9]:
car_df

,id_ucd,id_merk,type,model,color,year,id_transmission,id_fuel_type,door,cylinder_size,...,showroom_name,showroom_location,showroom_regency,photo_1,photo_2,photo_3,link,created_at,updated_at,showroom_group
0,169,Suzuki,All New Baleno,MINIBUS,MERAH,2019,2,Gasoline,5,1372,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:06,4/16/2023 6:06,1
1,170,Toyota,FORTUNER 2.5,JEEP S.C.HDTP,HITAM METALIK,2015,2,Diesel,5,2494,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:15,4/16/2023 6:15,1
2,25,Range Rover,RANGE ROVER 4.2L V8 AT,JEEP S.C.HDTP,HITAM,2007,2,Gasoline,5,4187,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 7:29,4/11/2023 7:29,2
3,19,Jeep,GRAND CHEROKEE 5.7AT,JEEP L.C.HDTP,ABU ABU,2011,2,Gasoline,4,5654,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 5:54,4/11/2023 5:54,2
4,28,Jaguar,XF 3.0 V6 AT,SEDAN,HITAM METALIK,2011,2,Gasoline,5,2967,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 8:00,4/11/2023 8:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,133,Mitsubishi,Xpander Sport,SUV,ABU ABU METALIK,2019,2,Gasoline,5,1499,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:26,4/14/2023 0:26,39
206,132,Toyota,Alphard G,Minibus,HITAM,2017,2,Gasoline,5,2494,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:22,4/14/2023 0:22,39
207,103,Hyundai,Palisade Signature,SUV,HITAM,2021,2,Diesel,5,2199,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:01,4/13/2023 11:01,39
208,106,Hyundai,Tucson,SUV,PUTIH,2018,2,Diesel,5,1995,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:19,4/13/2023 11:19,39
209,130,Hyundai,H1 Royale,Minibus,ABU ABU METALIK,2016,2,Diesel,5,2497,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:05,4/14/2023 0:05,39

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_ucd             210 non-null    int64
 1   id_merk            210 non-null    object
 2   type               210 non-null    object
 3   model              210 non-null    object
 4   color              210 non-null    object
 5   year               210 non-null    int64
 6   id_transmission    210 non-null    int64
 7   id_fuel_type       210 non-null    object
 8   door               210 non-null    int64
 9   cylinder_size      210 non-null    int64
 10  cylinder_total     210 non-null    int64
 11  turbo              210 non-null    int64
 12  mileage            210 non-null    int64
 13  license_plate      210 non-null    object
 14  price_cash         210 non-null    int64
 15  price_credit       210 non-null    int64
 16  nilai_jual_pkb     201 non-null    float64
 17  pkb_pokok          198 non-null    float64
 18  stnk_date          201 non-null    object
 19  levy_date          201 non-null    object
 20  swdkllj            198 non-null    float64
 21  total_levy         198 non-null    float64
 22  showroom_name      210 non-null    object
 23  showroom_location  210 non-null    object
 24  showroom_regency   210 non-null    object
 25  photo_1            189 non-null    object
 26  photo_2            0 non-null      float64
 27  photo_3            0 non-null      float64
 28  link               0 non-null      float64
 29  created_at         202 non-null    object
 30  updated_at         202 non-null    object
dtypes: float64(7), int64(10), object(14)
memory usage: 51.0+ KB

In [11]:
showroom_df

,showroom_name,showroom_location,showroom_regency,showroom_group
0,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,1
2,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2
15,ASHENA MOBILINDO,"Jl. Pahlawan Revolusi No.2, Pd. Bambu, Kec. Du...",Jakarta Timur,3
20,BELLI AUTO CAR,"Pasar Mobil kemayoran Blok T no 8-9, RT.3/RW.6...",Jakarta Pusat,4
23,BEST MOBILINDO,"Jl. Industri Raya No.10, RW.10, Danau Sunter D...",Jakarta Utara,5
28,Baruna Motor,"Jl. RS. Fatmawati Raya No.79, RT.4/RW.4, Cilan...",Jakarta Selatan,6
29,DANS MOBILINDO,"Bursa WTC Mangga Dua, Jl. Mangga Dua Raya No.8...",Jakarta Utara,7
32,DHL AUTOCARS,"Bursa Mobil, Mall WTC Matahari, Pd. Jagung, Ke...",Banten,8
34,ESCO AUTO,"Jl. BB No. 01 A RT.3/RW.8 Cipinang Muara, Jati...",Jakarta Timur,9
42,FAMILY MOTOR 1,"Jl. I Gusti Ngurah Rai No.9, RT.12/RW.5, Cipin...",Jakarta Timur,10
45,FARREL MOTOR,Pondok kelapa 2 blok A 8 no.35 jakarta timur J...,Jakarta Timur,11
49,FAVOR AUTO,"bella terra, Klp. Gading Bar., Kec. Klp. Gadin...",Jakarta Utara,12
51,FORESTA MOTOR,"RT.001/RW.013, Panunggangan Bar., Kec. Cibodas...",Banten,13
55,GARAGE 88,"Jl.Radio 1 No.19, Kebayoran Baru, Jakarta Selatan",Jakarta Selatan,14
78,GARASI MOBILKU,"Jl. Gading Serpong Boulevard, Pakulonan Bar., ...",Banten,15
80,HANS MOTOR,"Ruko WR, Jl. Imam Bonjol Blok A No.11-12, RT.0...",Banten,16
85,JUARA MOBIL,Bursa Mobil Bekas Tems Grand ITC Permata Hijau...,Jakarta Selatan,17
86,KING AUTO CARS,"Jl. Pahlawan Revolusi No.6, RT.6/RW.12, Pd. Ba...",Jakarta Timur,18
89,MAJU JAYA MOTOR,"JL. Mangga Dua Raya, No. 8, RW.5, Ancol, Kec. ...",Jakarta Utara,19
98,Martak Auto Boutique,"Jl Pahlawan Revolusi no 39A, Pondok Bambu Jaka...",Jakarta Timur,20
100,Mirza Mobil,Jl. I Gusti Ngurah Rai Jl. Kp. Sumur Utara No....,Jakarta Timur,21
129,NOAH AUTO,"Bursa Mobil Sumarecon Blok G no 28, Curug Sang...",Banten,22
130,O2 Auto,"Bintaro, Banten",Banten,23
133,PT.SURYA DARMA PERKAS,"Jl. Raya Daan Mogot No.km 1 no 99, RT.6/RW.5, ...",Jakarta Barat,24
137,PT.SURYA DARMA PERKAS,"Jl. Pecenongan No.51, RT.9/RW.3, Kb. Klp., Kec...",Jakarta Pusat,25
138,RND AUTO,"Jl. Boulevard Raya Gading Serpong No.08, Curug...",Banten,26
139,SAUNG MOBIL,"Jl. Raya Serpong No.39, Pd. Jagung, Kec. Serpo...",Banten,27
146,SECOND CARS 15,"JL. Pahlawan Revolusi no 8, Duren SawitJakarta...",Jakarta Timur,28
147,SILOAM MOBILINDO,"WTC Mangga Dua, Jl. Gn. Sahari No.8, RT.1/RW.1...",Jakarta Pusat,29
156,SPECTRUM MOTOR,"Bursa otomotif, Jl. Sunter Kirana Raya, RT.10/...",Jakarta Utara,30
160,SUKSES MOBILINDO 2,"Sebelah PT Panasonic, Jl. Raya Bogor No.Km. 28...",Jakarta Timur,31
163,SURYA ABADI MOTOR,"Jl. Pahlawan Revolusi No.8, RT.6/RW.12, Pd. Ba...",Jakarta Timur,32
165,THOR MOTOR,"Jl. Marsekal Suryadarma No.52, RT.003/RW.008, ...",Banten,33
169,TIMUR JAYA MOBIL,"Jl. Angkasa No.Kav B6, RW.10, South Gunung Sah...",Jakarta Pusat,34
184,TOKO MOBILKU,"Jl. Meruya Selatan No. 43, , Meruya Selatan, K...",Jakarta Barat,35
193,TOKO MOBILKU,"Jl. Industri Raya No.10, RW.10, Danau Sunter D...",Jakarta Utara,36
194,UNITY MOBILINDO,"Jl. Imam Bonjol No.88B, Karawaci, Kec. Karawac...",Banten,37
198,YANSA AUTO,"Jl. Boulevard Raya Gading Serpong No.2, Curug ...",Banten,38
201,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,39

In [9]:
transmission_mapping = {
    1 : 'manual',
    2 : 'automatic',
}

In [10]:
car_df['id_transmission'] = car_df['id_transmission'].map(transmission_mapping)

In [14]:
car_df

,id_ucd,id_merk,type,model,color,year,id_transmission,id_fuel_type,door,cylinder_size,...,showroom_name,showroom_location,showroom_regency,photo_1,photo_2,photo_3,link,created_at,updated_at,showroom_group
0,169,Suzuki,All New Baleno,MINIBUS,MERAH,2019,automatic,Gasoline,5,1372,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:06,4/16/2023 6:06,1
1,170,Toyota,FORTUNER 2.5,JEEP S.C.HDTP,HITAM METALIK,2015,automatic,Diesel,5,2494,...,ANGEL CARS,"Ps. Mobil Kemayoran, Jl. Industri Raya No.11, ...",Jakarta Pusat,2023-03-22.jpg,NaN,NaN,NaN,4/16/2023 6:15,4/16/2023 6:15,1
2,25,Range Rover,RANGE ROVER 4.2L V8 AT,JEEP S.C.HDTP,HITAM,2007,automatic,Gasoline,5,4187,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 7:29,4/11/2023 7:29,2
3,19,Jeep,GRAND CHEROKEE 5.7AT,JEEP L.C.HDTP,ABU ABU,2011,automatic,Gasoline,4,5654,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 5:54,4/11/2023 5:54,2
4,28,Jaguar,XF 3.0 V6 AT,SEDAN,HITAM METALIK,2011,automatic,Gasoline,5,2967,...,ARJUNA MOTOR DEALER MOBIL BEKAS,jln raya jatiwaringin no 2 pangkalan jati kali...,Jakarta Timur,2021-01-22.jpg,NaN,NaN,NaN,4/11/2023 8:00,4/11/2023 8:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,133,Mitsubishi,Xpander Sport,SUV,ABU ABU METALIK,2019,automatic,Gasoline,5,1499,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:26,4/14/2023 0:26,39
206,132,Toyota,Alphard G,Minibus,HITAM,2017,automatic,Gasoline,5,2494,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:22,4/14/2023 0:22,39
207,103,Hyundai,Palisade Signature,SUV,HITAM,2021,automatic,Diesel,5,2199,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:01,4/13/2023 11:01,39
208,106,Hyundai,Tucson,SUV,PUTIH,2018,automatic,Diesel,5,1995,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,wtc mangga 2.jpg,NaN,NaN,NaN,4/13/2023 11:19,4/13/2023 11:19,39
209,130,Hyundai,H1 Royale,Minibus,ABU ABU METALIK,2016,automatic,Diesel,5,2497,...,ZUL GCR AUTO CARS,"Wtc Mangga Dua Jl. Raya Pantura No.8, Ancol, K...",Jakarta Utara,NaN,NaN,NaN,NaN,4/14/2023 0:05,4/14/2023 0:05,39

In [11]:
# Convert date columns to the appropriate formats
car_df['stnk_date'] = pd.to_datetime(car_df['stnk_date'], format='%m/%d/%Y').dt.date
car_df['levy_date'] = pd.to_datetime(car_df['levy_date'], format='%m/%d/%Y').dt.date
car_df['created_at'] = pd.to_datetime(car_df['created_at'], format='%m/%d/%Y %H:%M')
car_df['updated_at'] = pd.to_datetime(car_df['updated_at'], format='%m/%d/%Y %H:%M')

In [12]:
car_df = car_df.drop(columns=['photo_1', 'photo_2', 'photo_3', 'link'])

In [13]:
car_df = car_df.dropna()

In [24]:
car_df.to_csv('car_data.csv')
showroom_df.to_csv('showroom_data.csv')

In [23]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 0 to 209
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_ucd             197 non-null    int64
 1   id_merk            197 non-null    object
 2   type               197 non-null    object
 3   model              197 non-null    object
 4   color              197 non-null    object
 5   year               197 non-null    int64
 6   id_transmission    197 non-null    object
 7   id_fuel_type       197 non-null    object
 8   door               197 non-null    int64
 9   cylinder_size      197 non-null    int64
 10  cylinder_total     197 non-null    int64
 11  turbo              197 non-null    int64
 12  mileage            197 non-null    int64
 13  license_plate      197 non-null    object
 14  price_cash         197 non-null    int64
 15  price_credit       197 non-null    int64
 16  nilai_jual_pkb     197 non-null    float64
 17  pkb_pokok          197 non-null    float64
 18  stnk_date          197 non-null    object
 19  levy_date          197 non-null    object
 20  swdkllj            197 non-null    float64
 21  total_levy         197 non-null    float64
 22  showroom_name      197 non-null    object
 23  showroom_location  197 non-null    object
 24  showroom_regency   197 non-null    object
 25  created_at         197 non-null    datetime64[ns]
 26  updated_at         197 non-null    datetime64[ns]
 27  showroom_group     197 non-null    int64
dtypes: datetime64[ns](2), float64(4), int64(10), object(12)
memory usage: 44.6+ KB

In [15]:
car_df['turbo']

0      0
1      1
2      0
3      0
4      0
      ..
205    0
206    0
207    0
208    0
209    0
Name: turbo, Length: 197, dtype: int64